{
  "openapi": "3.1.0",
  "info": {
    "title": "API Reference",
    "version": "1.0.0"
  },
  "paths": {
    "/synthesize": {
      "post": {
        "operationId": "synthesize",
        "summary": "Synchronous text-to-speech synthesis",
        "description": "Generate speech synchronously from text or SSML. Returns complete audio as base64.",
        "tags": [
          "textToSpeech"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful synthesis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Text-to-Speech_synthesize_Response_200"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "voice_uuid": {
                    "type": "string",
                    "description": "Voice UUID to use for synthesis"
                  },
                  "project_uuid": {
                    "type": "string",
                    "description": "Optional project UUID to store the clip"
                  },
                  "title": {
                    "type": "string",
                    "description": "Optional title for the generated clip"
                  },
                  "data": {
                    "type": "string",
                    "description": "Text or SSML to synthesize (max 3,000 characters)"
                  },
                  "model": {
                    "type": "string",
                    "description": "Model to use for synthesis. Pass `chatterbox-turbo` to use the Turbo model for lower latency and paralinguistic tag support. If not specified, defaults to Chatterbox or Chatterbox Multilingual based on the voice. Note - Chatterbox-Turbo is supported by all Rapid English voices and Pre Built Library voices."
                  },
                  "precision": {
                    "$ref": "#/components/schemas/SynthesizePostRequestBodyContentApplicationJsonSchemaPrecision",
                    "description": "Audio precision for WAV output"
                  },
                  "output_format": {
                    "$ref": "#/components/schemas/SynthesizePostRequestBodyContentApplicationJsonSchemaOutputFormat",
                    "description": "Audio output format"
                  },
                  "sample_rate": {
                    "$ref": "#/components/schemas/SynthesizePostRequestBodyContentApplicationJsonSchemaSampleRate",
                    "description": "Audio sample rate in Hz"
                  },
                  "use_hd": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable HD synthesis with small latency trade-off"
                  },
                  "apply_custom_pronunciations": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, automatically applies your team's custom pronunciations to matching words in the input text. Defaults to false."
                  }
                },
                "required": [
                  "voice_uuid",
                  "data"
                ]
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://f.cluster.resemble.ai"
        }
      ]
    },
    "/stream": {
      "post": {
        "operationId": "stream-synthesize",
        "summary": "Streaming text-to-speech synthesis (HTTP)",
        "description": "Stream audio as it's generated. Returns chunked WAV data for progressive playback.",
        "tags": [
          "textToSpeech"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Streaming audio response (chunked WAV)",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "voice_uuid": {
                    "type": "string",
                    "description": "Voice UUID to use for synthesis"
                  },
                  "data": {
                    "type": "string",
                    "description": "Text or SSML to synthesize (max 2000 characters)"
                  },
                  "project_uuid": {
                    "type": "string",
                    "description": "Optional project UUID to store the clip"
                  },
                  "model": {
                    "type": "string",
                    "description": "Model to use for synthesis. Pass `chatterbox-turbo` to use the Turbo model for lower latency and paralinguistic tag support. If not specified, defaults to Chatterbox or Chatterbox Multilingual based on the voice. Note - Chatterbox-Turbo is supported by all Rapid English voices and Pre Built Library voices."
                  },
                  "precision": {
                    "$ref": "#/components/schemas/StreamPostRequestBodyContentApplicationJsonSchemaPrecision",
                    "description": "Audio precision"
                  },
                  "sample_rate": {
                    "$ref": "#/components/schemas/StreamPostRequestBodyContentApplicationJsonSchemaSampleRate",
                    "description": "Audio sample rate in Hz"
                  },
                  "use_hd": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable HD synthesis with small latency trade-off"
                  },
                  "apply_custom_pronunciations": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, automatically applies your team's custom pronunciations to matching words in the input text. Defaults to false."
                  }
                },
                "required": [
                  "voice_uuid",
                  "data"
                ]
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://f.cluster.resemble.ai"
        }
      ]
    },
    "/speech-to-text": {
      "get": {
        "operationId": "list-transcripts",
        "summary": "List transcripts",
        "description": "Retrieve paginated list of transcript jobs",
        "tags": [
          "speechToText"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transcripts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Speech-to-Text_listTranscripts_Response_200"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create-transcript",
        "summary": "Create transcript job",
        "description": "Submit audio or video for transcription",
        "tags": [
          "speechToText"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript job created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Speech-to-Text_createTranscript_Response_200"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (missing input, invalid callback_url, or zero retention requested without a callback_url)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Zero retention is not included in the team's plan or subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Audio or video file (max 500 MB, 20 minutes)"
                  },
                  "query": {
                    "type": "string",
                    "description": "Optional intelligence question to evaluate after transcription"
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Public HTTPS URL that receives a POST with the result when processing finishes. Private, loopback, link-local, and non-HTTPS URLs are rejected. Required when zero_retention_mode is true."
                  },
                  "zero_retention_mode": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable zero retention. The uploaded media and any temporary processing copies are permanently deleted after transcription, and the transcript content is purged after one delivery to callback_url (which is mandatory in this mode). privacy_mode is accepted as an alias. Plan feature — requests are rejected with 402 if not included in your plan."
                  }
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/speech-to-text/{uuid}": {
      "get": {
        "operationId": "get-transcript",
        "summary": "Get transcript",
        "description": "Retrieve transcript status, text, and timestamps",
        "tags": [
          "speechToText"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Speech-to-Text_getTranscript_Response_200"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/speech-to-text/{uuid}/ask": {
      "post": {
        "operationId": "ask-transcript-question",
        "summary": "Ask intelligence question",
        "description": "Submit a question about a completed transcript",
        "tags": [
          "speechToText"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Question submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Speech-to-Text_askTranscriptQuestion_Response_200"
                }
              }
            }
          },
          "400": {
            "description": "Missing query, transcript not yet processed, or the transcript was created with zero retention and its content has been purged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Question to ask about the transcript"
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/speech-to-text/{uuid}/questions": {
      "get": {
        "operationId": "list-transcript-questions",
        "summary": "List intelligence questions",
        "description": "List all questions asked about a transcript",
        "tags": [
          "speechToText"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of questions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Speech-to-Text_listTranscriptQuestions_Response_200"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/speech-to-text/{uuid}/questions/{question_uuid}": {
      "get": {
        "operationId": "get-transcript-question",
        "summary": "Get intelligence question status",
        "description": "Check the status of a specific question",
        "tags": [
          "speechToText"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "question_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Question details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Speech-to-Text_getTranscriptQuestion_Response_200"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/audio_enhancements": {
      "get": {
        "operationId": "list-audio-enhancements",
        "summary": "List audio enhancements",
        "description": "Returns a paginated list of all audio enhancements for your team, ordered by most recent first.",
        "tags": [
          "audioEnhancement"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (starting from 1).",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Items per page (10 to 1000). Default 10.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of enhancements",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audio Enhancement_listAudioEnhancements_Response_200"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAudioEnhancementsRequestBadRequestError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create-audio-enhancement",
        "summary": "Create audio enhancement",
        "description": "Submit an audio file for enhancement. Processing happens asynchronously in the background.\nThe API defaults to the v2 enhancement engine. The v1 engine is legacy and will be sunset in a future release.\n",
        "tags": [
          "audioEnhancement"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Enhancement job created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audio Enhancement_createAudioEnhancement_Response_202"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAudioEnhancementRequestBadRequestError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAudioEnhancementRequestForbiddenError"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "audio_file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Audio file to enhance (WAV, MP3, M4A, MP4, OGG, AAC, FLAC). Max 150 MB."
                  },
                  "enhancement_engine": {
                    "$ref": "#/components/schemas/AudioEnhancementsPostRequestBodyContentMultipartFormDataSchemaEnhancementEngine",
                    "description": "Enhancement engine to use. Default is v2."
                  },
                  "remove_noise": {
                    "type": "boolean",
                    "default": true,
                    "description": "Remove background noise. Engine v2 only."
                  },
                  "normalize": {
                    "type": "boolean",
                    "default": true,
                    "description": "Normalize audio levels. Engine v2 only."
                  },
                  "studio_sound": {
                    "type": "boolean",
                    "default": true,
                    "description": "Apply studio-quality enhancement. Engine v2 only."
                  },
                  "enhancement_level": {
                    "type": "number",
                    "format": "double",
                    "description": "Enhancement intensity (0.0 to 1.0). Engine v1 only (legacy)."
                  },
                  "loudness_target_level": {
                    "type": "integer",
                    "default": -14,
                    "description": "Target loudness in LUFS. Engine v1 only (legacy)."
                  },
                  "loudness_peak_limit": {
                    "type": "integer",
                    "default": -1,
                    "description": "Peak limit in dBTP. Engine v1 only (legacy)."
                  }
                },
                "required": [
                  "audio_file"
                ]
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/audio_enhancements/{enhancement_uuid}": {
      "get": {
        "operationId": "get-audio-enhancement",
        "summary": "Get audio enhancement",
        "description": "Poll this endpoint to check the status of an enhancement job and retrieve the download URL when complete.",
        "tags": [
          "audioEnhancement"
        ],
        "parameters": [
          {
            "name": "enhancement_uuid",
            "in": "path",
            "description": "The UUID returned from the create endpoint.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Enhancement details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Audio Enhancement_getAudioEnhancement_Response_200"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAudioEnhancementRequestNotFoundError"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/agents": {
      "get": {
        "operationId": "list-agents",
        "summary": "List agents",
        "description": "Retrieve all agents for the authenticated team",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "phone_number",
            "in": "query",
            "description": "Filter by associated phone number",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "advanced",
            "in": "query",
            "description": "Include detailed configuration",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agents_listAgents_Response_200"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create-agent",
        "summary": "Create agent",
        "description": "Create a new voice agent",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agents_createAgent_Response_200"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "voice_uuid": {
                    "type": "string"
                  },
                  "phone_number_id": {
                    "type": "integer"
                  },
                  "languages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "dynamic_variables": {
                    "type": "object",
                    "additionalProperties": {
                      "$ref": "#/components/schemas/AgentsPostRequestBodyContentApplicationJsonSchemaDynamicVariables"
                    }
                  },
                  "asr": {
                    "$ref": "#/components/schemas/AgentsPostRequestBodyContentApplicationJsonSchemaAsr"
                  },
                  "turn": {
                    "$ref": "#/components/schemas/AgentsPostRequestBodyContentApplicationJsonSchemaTurn"
                  },
                  "llm": {
                    "$ref": "#/components/schemas/AgentsPostRequestBodyContentApplicationJsonSchemaLlm"
                  },
                  "search_mode": {
                    "$ref": "#/components/schemas/AgentsPostRequestBodyContentApplicationJsonSchemaSearchMode",
                    "description": "RAG search strategy - speed (faster) or accuracy (more thorough)"
                  },
                  "max_chunks_per_query": {
                    "type": "integer",
                    "default": 8,
                    "description": "Number of relevant chunks to retrieve per query for RAG"
                  },
                  "webhooks": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AgentsPostRequestBodyContentApplicationJsonSchemaWebhooksItems"
                    }
                  },
                  "system_tools": {
                    "$ref": "#/components/schemas/AgentsPostRequestBodyContentApplicationJsonSchemaSystemTools"
                  }
                },
                "required": [
                  "name",
                  "voice_uuid"
                ]
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/agents/{uuid}": {
      "get": {
        "operationId": "get-agent",
        "summary": "Get agent",
        "description": "Retrieve a specific agent's details",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "advanced",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agents_getAgent_Response_200"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete-agent",
        "summary": "Delete agent",
        "description": "Delete an agent and all its configurations",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agents_deleteAgent_Response_200"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "update-agent",
        "summary": "Update agent",
        "description": "Update an existing agent's configuration",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agents_updateAgent_Response_200"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "voice_uuid": {
                    "type": "string"
                  },
                  "phone_number_id": {
                    "type": "integer"
                  },
                  "languages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "dynamic_variables": {
                    "$ref": "#/components/schemas/AgentsUuidPatchRequestBodyContentApplicationJsonSchemaDynamicVariables"
                  },
                  "asr": {
                    "$ref": "#/components/schemas/AgentsUuidPatchRequestBodyContentApplicationJsonSchemaAsr"
                  },
                  "turn": {
                    "$ref": "#/components/schemas/AgentsUuidPatchRequestBodyContentApplicationJsonSchemaTurn"
                  },
                  "llm": {
                    "$ref": "#/components/schemas/AgentsUuidPatchRequestBodyContentApplicationJsonSchemaLlm"
                  },
                  "search_mode": {
                    "$ref": "#/components/schemas/AgentsUuidPatchRequestBodyContentApplicationJsonSchemaSearchMode",
                    "description": "RAG search strategy"
                  },
                  "max_chunks_per_query": {
                    "type": "integer",
                    "description": "Number of chunks to retrieve per query for RAG"
                  },
                  "webhooks": {
                    "type": "array",
                    "items": {
                      "description": "Any type"
                    }
                  },
                  "system_tools": {
                    "$ref": "#/components/schemas/AgentsUuidPatchRequestBodyContentApplicationJsonSchemaSystemTools"
                  }
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/agents/{uuid}/dispatch": {
      "post": {
        "operationId": "dispatch-agent",
        "summary": "Dispatch agent",
        "description": "Make an outbound call with an agent",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call dispatched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agents_dispatchAgent_Response_200"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone_number": {
                    "type": "string",
                    "description": "Destination phone number"
                  },
                  "dynamic_variables": {
                    "$ref": "#/components/schemas/AgentsUuidDispatchPostRequestBodyContentApplicationJsonSchemaDynamicVariables",
                    "description": "Runtime variable overrides"
                  }
                },
                "required": [
                  "phone_number"
                ]
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/agents/capabilities": {
      "get": {
        "operationId": "get-agent-capabilities",
        "summary": "Get capabilities",
        "description": "List supported ASR and LLM providers and models",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent capabilities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agents_getAgentCapabilities_Response_200"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/agents/system-tools": {
      "get": {
        "operationId": "get-system-tools",
        "summary": "Get system tools",
        "description": "List available system tools",
        "tags": [
          "agents"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "System tools",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agents_getSystemTools_Response_200"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/agents/{agent_uuid}/tools": {
      "get": {
        "operationId": "list-agent-tools",
        "summary": "List agent tools",
        "description": "List all tools for an agent",
        "tags": [
          "agentTools"
        ],
        "parameters": [
          {
            "name": "agent_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tools",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Tools_listAgentTools_Response_200"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create-agent-tool",
        "summary": "Create agent tool",
        "description": "Create a new tool for an agent",
        "tags": [
          "agentTools"
        ],
        "parameters": [
          {
            "name": "agent_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Tools_createAgentTool_Response_200"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "tool_type": {
                    "$ref": "#/components/schemas/AgentsAgentUuidToolsPostRequestBodyContentApplicationJsonSchemaToolType"
                  },
                  "tool_config": {
                    "$ref": "#/components/schemas/AgentsAgentUuidToolsPostRequestBodyContentApplicationJsonSchemaToolConfig"
                  }
                },
                "required": [
                  "name",
                  "description",
                  "tool_type",
                  "tool_config"
                ]
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/agents/{agent_uuid}/tools/{tool_uuid}": {
      "get": {
        "operationId": "get-agent-tool",
        "summary": "Get agent tool",
        "description": "Get details of a specific tool",
        "tags": [
          "agentTools"
        ],
        "parameters": [
          {
            "name": "agent_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tool_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Tools_getAgentTool_Response_200"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete-agent-tool",
        "summary": "Delete agent tool",
        "description": "Delete a tool",
        "tags": [
          "agentTools"
        ],
        "parameters": [
          {
            "name": "agent_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tool_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Tools_deleteAgentTool_Response_200"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "update-agent-tool",
        "summary": "Update agent tool",
        "description": "Update an existing tool",
        "tags": [
          "agentTools"
        ],
        "parameters": [
          {
            "name": "agent_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "tool_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Tools_updateAgentTool_Response_200"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "tool_config": {
                    "$ref": "#/components/schemas/AgentsAgentUuidToolsToolUuidPatchRequestBodyContentApplicationJsonSchemaToolConfig"
                  }
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/agents/{agent_uuid}/webhooks": {
      "get": {
        "operationId": "list-agent-webhooks",
        "summary": "List agent webhooks",
        "description": "List all webhooks for an agent",
        "tags": [
          "agentWebhooks"
        ],
        "parameters": [
          {
            "name": "agent_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Webhooks_listAgentWebhooks_Response_200"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create-agent-webhook",
        "summary": "Create agent webhook",
        "description": "Create a new webhook for an agent",
        "tags": [
          "agentWebhooks"
        ],
        "parameters": [
          {
            "name": "agent_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Webhooks_createAgentWebhook_Response_200"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "webhook_type": {
                    "$ref": "#/components/schemas/AgentsAgentUuidWebhooksPostRequestBodyContentApplicationJsonSchemaWebhookType"
                  },
                  "webhook_config": {
                    "$ref": "#/components/schemas/AgentsAgentUuidWebhooksPostRequestBodyContentApplicationJsonSchemaWebhookConfig"
                  }
                },
                "required": [
                  "webhook_type",
                  "webhook_config"
                ]
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/agents/{agent_uuid}/webhooks/{webhook_uuid}": {
      "get": {
        "operationId": "get-agent-webhook",
        "summary": "Get agent webhook",
        "description": "Get details of a specific webhook",
        "tags": [
          "agentWebhooks"
        ],
        "parameters": [
          {
            "name": "agent_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "webhook_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Webhooks_getAgentWebhook_Response_200"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete-agent-webhook",
        "summary": "Delete agent webhook",
        "description": "Delete a webhook",
        "tags": [
          "agentWebhooks"
        ],
        "parameters": [
          {
            "name": "agent_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "webhook_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Webhooks_deleteAgentWebhook_Response_200"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "update-agent-webhook",
        "summary": "Update agent webhook",
        "description": "Update an existing webhook",
        "tags": [
          "agentWebhooks"
        ],
        "parameters": [
          {
            "name": "agent_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "webhook_uuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Webhooks_updateAgentWebhook_Response_200"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "webhook_config": {
                    "$ref": "#/components/schemas/AgentsAgentUuidWebhooksWebhookUuidPatchRequestBodyContentApplicationJsonSchemaWebhookConfig"
                  }
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/phone_numbers": {
      "get": {
        "operationId": "list-phone-numbers",
        "summary": "List agent phone numbers",
        "description": "List all agent phone numbers",
        "tags": [
          "agentPhoneNumbers"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of phone numbers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Phone Numbers_listPhoneNumbers_Response_200"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create-phone-number",
        "summary": "Create agent phone number",
        "description": "Create a new agent phone number",
        "tags": [
          "agentPhoneNumbers"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Phone number created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Phone Numbers_createPhoneNumber_Response_200"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone_number": {
                    "type": "string",
                    "description": "E.164 formatted phone number"
                  },
                  "label": {
                    "type": "string"
                  },
                  "supports_inbound": {
                    "type": "boolean",
                    "default": false
                  },
                  "supports_outbound": {
                    "type": "boolean",
                    "default": false
                  },
                  "provider": {
                    "$ref": "#/components/schemas/PhoneNumbersPostRequestBodyContentApplicationJsonSchemaProvider"
                  },
                  "twilio_account_sid": {
                    "type": "string"
                  },
                  "twilio_auth_token": {
                    "type": "string"
                  },
                  "outbound_trunk": {
                    "$ref": "#/components/schemas/PhoneNumbersPostRequestBodyContentApplicationJsonSchemaOutboundTrunk"
                  },
                  "inbound_trunk": {
                    "$ref": "#/components/schemas/PhoneNumbersPostRequestBodyContentApplicationJsonSchemaInboundTrunk"
                  }
                },
                "required": [
                  "phone_number",
                  "label"
                ]
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/phone_numbers/{id}": {
      "get": {
        "operationId": "get-phone-number",
        "summary": "Get agent phone number",
        "description": "Get agent phone number details",
        "tags": [
          "agentPhoneNumbers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Phone number details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Phone Numbers_getPhoneNumber_Response_200"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete-phone-number",
        "summary": "Delete agent phone number",
        "description": "Delete an agent phone number",
        "tags": [
          "agentPhoneNumbers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Phone number deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Phone Numbers_deletePhoneNumber_Response_200"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/phone_numbers/{id}/force": {
      "delete": {
        "operationId": "force-delete-phone-number",
        "summary": "Force delete agent phone number",
        "description": "Force delete an agent phone number even if linked to agent",
        "tags": [
          "agentPhoneNumbers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Phone number force deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Phone Numbers_forceDeletePhoneNumber_Response_200"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/knowledge_items": {
      "get": {
        "operationId": "list-knowledge-items",
        "summary": "List knowledge items",
        "description": "List all knowledge items belonging to the authenticated user's team",
        "tags": [
          "agentKnowledgeBase"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/KnowledgeItemsGetParametersStatus"
            }
          },
          {
            "name": "source_type",
            "in": "query",
            "description": "Filter by source type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/KnowledgeItemsGetParametersSourceType"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of knowledge items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Knowledge Base_listKnowledgeItems_Response_200"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create-knowledge-item",
        "summary": "Create knowledge item",
        "description": "Creates a new knowledge item and queues it for ingestion processing",
        "tags": [
          "agentKnowledgeBase"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Knowledge item created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Knowledge Base_createKnowledgeItem_Response_201"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Title of the knowledge item"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the knowledge item"
                  },
                  "source_type": {
                    "$ref": "#/components/schemas/KnowledgeItemsPostRequestBodyContentApplicationJsonSchemaSourceType",
                    "description": "Type of knowledge source"
                  },
                  "url": {
                    "type": "string",
                    "description": "Required when source_type is url"
                  },
                  "raw_text": {
                    "type": "string",
                    "description": "Required when source_type is text"
                  }
                },
                "required": [
                  "title",
                  "description",
                  "source_type"
                ]
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/knowledge_items/{uuid}": {
      "get": {
        "operationId": "get-knowledge-item",
        "summary": "Get knowledge item",
        "description": "Retrieves a single knowledge item with detailed information including attached agents",
        "tags": [
          "agentKnowledgeBase"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "The UUID of the knowledge item",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge item details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Knowledge Base_getKnowledgeItem_Response_200"
                }
              }
            }
          },
          "404": {
            "description": "Knowledge item not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete-knowledge-item",
        "summary": "Delete knowledge item",
        "description": "Deletes a knowledge item and cleans up associated data",
        "tags": [
          "agentKnowledgeBase"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "The UUID of the knowledge item",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge item deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Knowledge Base_deleteKnowledgeItem_Response_200"
                }
              }
            }
          },
          "404": {
            "description": "Knowledge item not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/knowledge_items/{uuid}/reingest": {
      "post": {
        "operationId": "reingest-knowledge-item",
        "summary": "Re-ingest knowledge item",
        "description": "Re-runs the ingestion pipeline for an existing knowledge item",
        "tags": [
          "agentKnowledgeBase"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "The UUID of the knowledge item",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Re-ingestion queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Knowledge Base_reingestKnowledgeItem_Response_200"
                }
              }
            }
          },
          "422": {
            "description": "Cannot reingest (already processing or rate limited)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/agents/{agent_uuid}/knowledge_items": {
      "get": {
        "operationId": "list-agent-knowledge-items",
        "summary": "List agent's knowledge items",
        "description": "Lists all knowledge items attached to a specific agent",
        "tags": [
          "agentKnowledgeBase"
        ],
        "parameters": [
          {
            "name": "agent_uuid",
            "in": "path",
            "description": "The UUID of the agent",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of knowledge items attached to agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Knowledge Base_listAgentKnowledgeItems_Response_200"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "attach-knowledge-item-to-agent",
        "summary": "Attach knowledge item to agent",
        "description": "Attaches an existing knowledge item to an agent",
        "tags": [
          "agentKnowledgeBase"
        ],
        "parameters": [
          {
            "name": "agent_uuid",
            "in": "path",
            "description": "The UUID of the agent",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Knowledge item attached successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Knowledge Base_attachKnowledgeItemToAgent_Response_201"
                }
              }
            }
          },
          "422": {
            "description": "Validation error (not ready, already attached, etc.)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "knowledge_item_uuid": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The UUID of the knowledge item to attach"
                  }
                },
                "required": [
                  "knowledge_item_uuid"
                ]
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/agents/{agent_uuid}/knowledge_items/{knowledge_item_uuid}": {
      "delete": {
        "operationId": "detach-knowledge-item-from-agent",
        "summary": "Detach knowledge item from agent",
        "description": "Removes a knowledge item from an agent",
        "tags": [
          "agentKnowledgeBase"
        ],
        "parameters": [
          {
            "name": "agent_uuid",
            "in": "path",
            "description": "The UUID of the agent",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "knowledge_item_uuid",
            "in": "path",
            "description": "The UUID of the knowledge item to detach",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge item detached successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent Knowledge Base_detachKnowledgeItemFromAgent_Response_200"
                }
              }
            }
          },
          "404": {
            "description": "Agent or knowledge item not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Knowledge item not attached to agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/secure_uploads": {
      "post": {
        "operationId": "create-secure-upload",
        "summary": "Upload media securely",
        "description": "Upload a media file and receive a short-lived token that can be passed to\ndownstream endpoints (such as `/detect` and `/intelligence`) in place of a\npublic URL. The returned token is a JWT that expires 1 hour after issuance.\n\nKeeping uploads private avoids exposing source media on the open internet and\nmeans you do not need to host files yourself for jobs that only need the API\nto read them once.\n",
        "tags": [
          "secureUploads"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upload accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Secure Uploads_createSecureUpload_Response_200"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The media file to upload (audio, image, or video)."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/detect": {
      "get": {
        "operationId": "list-detections",
        "summary": "List all detects",
        "description": "Retrieve a paginated list of all detect objects for the authenticated user's team",
        "tags": [
          "deepfakeDetection"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (must be >= 1)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of items per page (10-1000)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of detects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deepfake Detection_listDetections_Response_200"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "create-detection",
        "summary": "Create deepfake detection",
        "description": "Analyze audio, image, and video for deepfake detection.\n\nSupply media via one of three intake methods:\n\n- **Direct file upload** — `multipart/form-data` with the file attached as `file`. Files must be 150 MB or smaller and use one of the supported audio/video/image extensions. For larger files, use the secure upload flow.\n- **Public URL** — `application/json` with a `url` field. The API fetches the URL itself.\n- **Secure upload token** — `application/json` with a `media_token` field obtained from `POST /secure_uploads`.\n\nExactly one of `file`, `url`, or `media_token` must be provided per request.\n",
        "tags": [
          "deepfakeDetection"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detection job created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deepfake Detection_createDetection_Response_200"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The media file to analyze (audio, video, or image). Must be 150 MB or smaller."
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "POST destination when analysis completes"
                  },
                  "visualize": {
                    "type": "boolean",
                    "description": "Generate visualization artifacts"
                  },
                  "frame_length": {
                    "type": "integer",
                    "default": 2,
                    "description": "Window size in seconds (audio/video)"
                  },
                  "start_region": {
                    "type": "number",
                    "format": "double",
                    "description": "Start of segment to analyze (seconds)"
                  },
                  "end_region": {
                    "type": "number",
                    "format": "double",
                    "description": "End of segment to analyze (seconds)"
                  },
                  "max_video_secs": {
                    "type": "number",
                    "format": "double",
                    "description": "Cap processed duration"
                  },
                  "model_types": {
                    "$ref": "#/components/schemas/DetectPostRequestBodyContentMultipartFormDataSchemaModelTypes",
                    "description": "Use talking_head for face-swaps"
                  },
                  "modality": {
                    "$ref": "#/components/schemas/DetectPostRequestBodyContentMultipartFormDataSchemaModality",
                    "description": "Video only. Selects which detection components run for a video file:\n`audio` (audio track only), `video` (visual frames only), or `all` (both — the default).\nIgnored for audio and image inputs. Invalid values are rejected with HTTP 400.\n"
                  },
                  "intelligence": {
                    "type": "boolean",
                    "default": false,
                    "description": "Run multimodal intelligence analysis on the media"
                  },
                  "audio_source_tracing": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable audio source tracing to identify synthetic audio origin"
                  },
                  "use_reverse_search": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable reverse image search to improve detection accuracy for image files. Only applies to image detections."
                  },
                  "use_ood_detector": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable out-of-distribution detection"
                  },
                  "zero_retention_mode": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable Zero Retention Mode to automatically delete submitted media after detection completes."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/detect/{uuid}": {
      "get": {
        "operationId": "get-detection",
        "summary": "Get deepfake detection result",
        "description": "Get deepfake detection result by UUID",
        "tags": [
          "deepfakeDetection"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "The UUID of the detect object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detection result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deepfake Detection_getDetection_Response_200"
                }
              }
            }
          },
          "404": {
            "description": "Detect not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/detect/batch": {
      "post": {
        "operationId": "create-detect-batch",
        "summary": "Create a batch deepfake detection job",
        "description": "Submit up to 50 files in a single request and process them as a single logical\ngroup. Returns HTTP 202 with a batch UUID; each file is analyzed in the\nbackground and individual results are available via `GET /detect/{uuid}` for\neach entry in `detect_uuids`.\n\nTwo intake methods:\n\n- **Multiple media files** — repeated `files[]` form fields.\n- **Single zip archive** — a single `file` form field whose value is a `.zip`\n  containing the media files. Non-media entries are skipped.\n\nProvide one of `files[]` or `file=<...>.zip` per request. Synchronous mode\n(`Prefer: wait`) is not supported and returns 400 if sent.\n\nConstraints:\n\n- Maximum 50 files per batch.\n- Maximum 500 MB total upload size across all files.\n- Allowed file types match `POST /detect`'s direct-upload allowlist.\n- All-or-nothing billing: if the team's wallet cannot cover the projected cost\n  for every file, the request is rejected with 402 and no detects are created.\n",
        "tags": [
          "deepfakeDetection"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Batch accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deepfake Detection_createDetectBatch_Response_202"
                }
              }
            }
          },
          "400": {
            "description": "Invalid batch request (missing files, both file and files[] supplied, file count or size exceeded, unsupported file type, or `Prefer: wait` header sent)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient balance for the projected batch cost. Response `details` includes per-file estimates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Intelligence detect limit reached (Default plan).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files[]": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "One or more media files. Repeat the `files[]` field for each file. Mutually exclusive with `file`."
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "A single `.zip` archive containing media files. Mutually exclusive with `files[]`."
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "POST destination invoked when the batch reaches a terminal state."
                  },
                  "intelligence": {
                    "type": "boolean",
                    "default": false,
                    "description": "Run multimodal intelligence on every file in the batch."
                  },
                  "search_identity": {
                    "type": "boolean",
                    "default": false,
                    "description": "Run identity search against the team's saved identities (audio/video only)."
                  },
                  "visualize": {
                    "type": "boolean",
                    "default": true,
                    "description": "Generate visualization artifacts."
                  },
                  "audio_source_tracing_enabled": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable audio source tracing on each audio file."
                  },
                  "frame_length": {
                    "type": "integer",
                    "description": "Window size in seconds (audio/video)."
                  },
                  "start_region": {
                    "type": "number",
                    "format": "double",
                    "description": "Start of segment to analyze (seconds)."
                  },
                  "end_region": {
                    "type": "number",
                    "format": "double",
                    "description": "End of segment to analyze (seconds)."
                  },
                  "max_video_secs": {
                    "type": "number",
                    "format": "double",
                    "description": "Cap processed video duration."
                  },
                  "use_llm": {
                    "type": "boolean",
                    "description": "Use LLM-assisted video analysis."
                  },
                  "zero_retention_mode": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable Zero Retention Mode for every file in the batch."
                  }
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/detect/batch/{uuid}": {
      "get": {
        "operationId": "get-detect-batch",
        "summary": "Get batch status",
        "description": "Retrieve the latest aggregate status for a batch. The response shape mirrors\nthe create response — `status`, `completed_count`, and `failed_count` update\nas child detects progress. Use the `detect_uuids` array to fetch per-file\nresults via `GET /detect/{uuid}`.\n",
        "tags": [
          "deepfakeDetection"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "Batch UUID returned by `POST /detect/batch`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deepfake Detection_getDetectBatch_Response_200"
                }
              }
            }
          },
          "404": {
            "description": "Batch not found (or not accessible by the authenticated team).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://app.resemble.ai/api/v2"
        }
      ]
    },
    "/intelligence": {
      "post": {
        "operationId": "run-intelligence",
        "summary": "Run intelligence",
        "description": "Analyze audio, image, or video for comprehensive insights. Optionally reference an existing detect to associate.",
        "tags": [
          "intelligence"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "API token from https://app.resemble.ai/account/api",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Intelligence analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Intelligence_runIntelligence_Response_200"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "media_token": {
                    "type": "string",
                    "description": "Token for uploaded media file (from secure upload)"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "HTTPS URL to audio, image, or video file"
                  },
                  "detect_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "UUID of an existing detect to associate"
                  },
                  "media_type": {
                    "$ref": "#/components/schemas/IntelligencePostRequestBodyContentApplicationJsonSchemaMediaType",
                    "description": "Explicit media type (auto-detected if not provided)"
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL that receives the final intelligence payload via HTTP POST. When present, the request runs asynchronously and returns 202 Accepted."
                  }
                }
              }
            }
          }
        }
      },
      "servers": [
        {
[...]
